[Unit]
Description=oauth2_proxy
After=network.target

[Service]
ExecStart=/usr/bin/docker run --rm --name jenkins-oauth2-proxy -p 4180:4180 kautsig/oauth2-proxy:latest \
    -client-id oauth2_proxy \
	-client-secret "{{ dex_client_secret }}" \
	-cookie-secret "{{ oauth2_cookie_secret }}" \
	-email-domain "*" \
	-provider "oidc" \
	-redirect-url "http://{{ fqdn }}/oauth2/callback" \
	-oidc-issuer-url "http://{{ fqdn }}/dex" \
    -cookie-secure=false \
    -set-xauthrequest \
	-http-address "0.0.0.0:4180"

[Install]
WantedBy=multi-user.target
